* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #0A0A0A, #040f20ff);
  color: #E6EDF3;
}

.grid {
  display: grid;
  gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid--2cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--center-vertically {
  align-items: center;
}

.divs-container {
  padding: 0 3.2rem;
  margin: 0 auto;
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.description {
  margin-top: 1.6rem;
  margin-bottom: 4.8rem;
  font-family: 'rajdhani', sans-serif;
  font-size: 1rem;
  color: #CCCCCC;
}

.heading-primary {
  font-family: 'Orbitron', sans-serif;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-family: 'Orbitron', sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

.heading-tertiary {
  font-family: 'rajdhani', sans-serif;
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.btn {
  font-family: 'Share Tech Mono', monospace;
  min-width: 26rem;
  text-align: center;
}

.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  border-radius: 9px;
  cursor: pointer;
}

.btn--full:link,
.btn--full:visited {
  background: rgba(255, 64, 128, 0.4);
  border: none;
  color: #0D1117;
  font-weight: 600;
  transition: all 0.2s ease;

}

.btn--full:hover,
.btn--full:active {
  background: #FF4081;
  box-shadow: 0 0 20px #FF00A8;
  transform: scale(1.05);
  filter: brightness(1.3);
}

.btn--outline:link,
.btn--outline:visited {
  background: rgba(42, 251, 255, 0.4);
  border: none;
  color: #0D1117;
  font-weight: 600;
  transition: all 0.2s ease;

}

.btn--outline:hover,
.btn--outline:active {
  background: #2AFCFF;
  box-shadow: 0 0 20px #00FFC6;
  transform: scale(1.05);
  filter: brightness(1.3);
}

.glow-blue {
  text-shadow: 0 0 10px #2AFCFF, 0 0 20px #00FFC6
}

.glow-darkblue {
  text-shadow: 0 0 5px #009FFD, 0 0 10px #007BFF
}

.glow-pink {
  text-shadow: 0 0 10px #FF4081, 0 0 20px #FF00A8
}

.right-placed {
  margin-left: auto;
}