/*****************HeADER Section**********/
.logo {
  width: 3.2rem;
  height: 3.2rem;
  color: #333;
  transition: all 0.2s ease;
}

.logo:hover,
.logo:active {
  color: #FF4081;
  filter: brightness(1.3);
  filter: drop-shadow(0 0 10px #FF00A8) drop-shadow(0 0 20px #FF4081);

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.4rem;
  padding: 0 3.6rem;
  position: sticky;
  top: 0;
  z-index: 50;

  background: linear-gradient(90deg, rgb(10, 10, 10, 0.6) 0%, rgb(27, 26, 85, 0.6) 50%, rgb(10, 10, 10, 0.6) 100%);
  border-bottom: 1px solid #009FFD;
  backdrop-filter: blur(6px);

}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-size: 1.6rem;
  transition: all 0.2s ease;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #FF4081;
  text-shadow: 0 0 25px #FF00A8, 0 0 20px #FF4081;
  filter: brightness(1.3);
}





/****************************************/
/*************Hero Section***************/

.section-hero {
  padding: 0 auto;
}

.hero {
  max-width: 143rem;
  margin: 0 auto;
  gap: 9.6rem;
  padding: 1.4rem 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 3.2rem;
  }

}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
}

.btn--size-hero {
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
}

/*********About Section**********/

.about-section {
  padding: 9.6rem 3.2rem;

}

.text-center {
  text-align: center;
}

.about-description {
  font-family: 'Manrope', sans-serif;
  line-height: 2.4rem;
}

.box {
  min-height: 20rem;
  min-width: 50%;
  width: 50%;
  padding: 1rem 1rem;
  border: 5px solid #007BFF;
  border-radius: 15px;
  background-color: rgba(0, 0, 50, 0.2);
  filter: brightness(1.1);
  transition: all 0.3s ease;
  box-shadow: 0 0 15px #00FFC6, 0 0 30px #007BFF;
}

.skill-list {
  font-family: 'Manrope', sans-serif;
  list-style: none;
  line-height: 3rem;
  margin: 2.4rem 0 0 0;
}

/*************Works Section*************/
.works-section {
  padding: 9.6rem 3.2rem;

}

.project-card-container {
  display: grid;
  gap: 3.2rem;
}

@media screen and (max-width: 768px) {
  .project-card-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) {
  .project-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.placeholder {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project-card {
  background: #1b1a554d;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 2.4rem;
  height: fit-content;
  box-shadow: 0 0 10px #009FFD, 0 0 20px #007BFF;
  margin-bottom: 0.5rem;
}

.works-iframes {
  width: 35rem;
  height: 30rem;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.btn--size-learn-more {
  padding: 1.2rem 1.2rem;
  font-size: 1.2rem;
  width: 50%;
}

/**********************************/

/***********Contact Section*********/
.contact-section {
  padding: 9.6rem 3.2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-width: 40rem;
  margin: 0 auto;
}

.form-input,
.form-textarea {
  padding: 1.2rem 1.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.6rem;
  font-family: 'Share Tech Mono', monospace;
}

.form-textarea {
  resize: vertical;
}

.button {
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
  align-self: center;
  transition: all 0.2s ease;
  width: 30%;
  height: 50px;
  border-radius: 8px;
}

/************************************************/

/***************Footer Section*******************/

.footer {
  background: linear-gradient(90deg, rgb(10, 10, 10, 0.6) 0%, rgb(27, 26, 85, 0.6) 50%, rgb(10, 10, 10, 0.6) 100%);
  padding: 3.2rem;
  border-top: 1px solid #009FFD;
}

.footer-text {
  font-family: 'Manrope', sans-serif;
  font-size: 1rem;
  color: #CCCCCC;
}